extends ../layout
block head-css
    <link rel="stylesheet" href="/assets/plugins/blueimp-gallery/css/blueimp-gallery.css">
    <link rel="stylesheet" href="/assets/plugins/blueimp-gallery/css/blueimp-gallery-indicator.css">
block content
    .container
        .row
            .col-md-12
                div
                    h2 #{page.name}
                    div #{page.content}
    
block foot-js
    
    
