extends ../layout

block content
    .ui.body
        .ui.container
            .ui.items
                table.ui.very.basic.padded.table
                    thead
                        tr
                            th 标题
                            th 作者
                            th 发布时间
                    tbody
                        - each page in pages
                            tr
                                td
                                    a(href='/page/#{page.id}') #{page.title}
                                td
                                    if (page.author)
                                        strong #{page.author.name}
                                td
                                    | #{moment(page.created).format('LLL')}
            .ui.center.aligned
                if (pageInfo && pageInfo.totalPage > 1)
                    include ../mixin
                    +pagination(pageInfo)
