extends ../layout

block content
    .container
        .row
            .col-md-12
                form(action='', method='post')
                    .form-group
                        label 上传文件
                        input(type='file')
                    
                    .form-group
                        label 描述
                        textarea.form-control(name='description', rows='8')
                    input(type='hidden', name='_csrf', value='#{token}')
                    button.btn.btn-primary(type='submit') 提交

