body {
  padding-top: 70px;
}
.navbar-right{
    color: #eee;
    height: 20px;
    margin-top: 15px;
}
.login{
    width: 300px;
    margin: 0 auto;
}
.register{
    width: 500px;
    margin: 0 auto;
}
.content{
    padding: 15px;
}
.console{
    padding: 10px;
    background-color: #eee;
}
.gallery img{
    max-width: 200px;
    max-height: 200px;
}
.preview img{
    max-width: 200px;
    max-height: 200px;
}