extends ../layout

block content
    .row
        .col-md-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Add
                .panel-body
                    form.form-horizontal(role='form', action='', method='post')
                        .form-group
                            label.col-sm-2.control-label(for='inputEmail2') Username
                            .col-sm-10
                                input#inputEmail2.form-control(type='text', name='username', placeholder='')
                        .form-group
                            label.col-sm-2.control-label(for='inputPassword3') Password
                            .col-sm-10
                                input#inputPassword3.form-control(type='password', name='password', placeholder='')
                        .form-group
                            label.col-sm-2.control-label(for='inputPassword4') Name
                            .col-sm-10
                                input#inputPassword4.form-control(type='text', name='name', placeholder='')
                        .form-group
                            label.col-sm-2.control-label(for='inputPassword5') Email
                            .col-sm-10
                                input#inputPassword5.form-control(type='email', name='email', placeholder='')
                        input(type='hidden', name='_csrf', value='#{token}')
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                button.btn.btn-primary(type='submit') Submit

block foot-js
    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("Processing...");
                },
                success: function(data, status, xhr, $form) {
                    console.log(data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: 'Success',
                            hideAfter: 3,
                            type: 'success'
                        });
                        $form[0].reset();
                    } else {
                        messenger.update({
                            message: 'Failure',
                            hideAfter: 3,
                            type: 'success'
                        });
                    }
                },
                err: function() {
                    console.log('error')
                    messenger.update({
                        message: 'System Error',
                        hideAfter: 3,
                        type: 'success'
                    });
                }
            })
        })
