extends ../layout-blank

block content
    section#login-container
            .row
                #login-wrapper.col-md-3
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title
                                | 找回密码
                        .panel-body
                            p  请输入您的用户名
                            form.form-horizontal(role='form', action='', method='post')
                                .form-group
                                    .col-md-12
                                        input#email.form-control(type='text', name='username', placeholder='用户名', autofocus)
                                        i.fa.fa-user
                                .form-group
                                    .col-md-12
                                        input(type='hidden', name='_csrf', value='#{token}')
                                        button.btn.btn-primary.btn-block(type='submit') 提交

