extends ../layout-blank

block content
    .container
        .row
            .login
                form(action='', method='post')
                    h2 登录
                    .form-group
                        label 用户名
                        input.form-control(name='username')
                    .form-group
                        label 密码
                        input.form-control(type='password', name='password')
                    input(type='hidden', name='_csrf', value='#{token}')
                    button.btn.btn-primary(type='submit') 登录
                    | &nbsp;&nbsp;
                    a(href='#{adminDir}/user/register') 注册

