doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        block head-css
        block head-js
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='/') CMS系统
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if(!path)
                            li.active
                                a(href='/') 首页
                        else
                            li
                                a(href='/') 首页
                        if(path === 'content')
                            li.active
                                a(href='/content') 内容
                        else
                            li
                                a(href='/content') 内容
                        if(path === 'user')
                            li.active
                                a(href='/user') 用户
                        else
                            li
                                a(href='/user') 用户
                        
                        if(path === 'category')
                            li.active
                                a(href='/category') 分类
                        else
                            li
                                a(href='/category') 分类
                        if(path === 'role')
                            li.active
                                a(href='/role') 角色
                        else
                            li
                                a(href='/role') 角色
                    .navbar-right
                        if (user)
                            | #{user.name} 
                            a(href='/user/logout') 注销
                        else
                            a(href='/user/login') 登录  
                            a(href='/user/register') 注册
        block content
        block foot-js