extends ../layout

block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                    label 角色名
                    input.form-control(name='name')
                .form-group
                    label 权限
                    input.form-control(name='actions', placeholder='逗号分割')
                    //- .row
                    //-     .col-md-1
                    //-         input.form-control(name='actions')
                    //-     .col-md-1
                    //-         input.form-control(name='actions')
                    //-     .col-md-1
                    //-         input.form-control(name='actions')
                | #{core.getActions(User)}
                .form-group
                    label 描述
                    textarea.form-control(name='description', rows='8')
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') 提交

