body{
    font-family: '微软雅黑' Monaco;
}
.gallery{
    padding: 10px;
}
.gallery img{
    max-width: 200px;
    max-height: 200px;
    display: block;
}
.gallery:after{
    content: '';
    clear: both;
    display: table;
}
.gallery-item{
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #fff;
    background-size: cover;
    float: left;
    text-align: center;
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.gallery-item .file-holder{
    font-size: 100px;
}
.gallery-item img{
    max-width: 100%;
    max-height: 100%;
}
.gallery-remove{
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 24px;
    line-height: 0;
    color: #000 !important;
}
.preview img{
    max-width: 200px;
    max-height: 200px;
}
a.btn-danger{
    color: #fff;
}
.cms-masthead{
    background-color: #428bca;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.cms-nav{

}
.cms-nav a{
    color: #cdddeb;
}
.admin-link{
    color: #fff;
    padding-top: 10px;
}
.admin-link a{

}
.cms-nav-item{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.cms-nav-item.active{
    color: #fff;
}
.cms-nav-item.active:after{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}
.media-list{
    border-left: 4px solid #eee;
    padding: 0px 15px;
    margin: 10px 0;
}
.clear:before,
.clear:after{
    content: '';
    display: table;
    clear: both;
}
.comments{
    margin: 15px 0;
}
.comment-form{

}
.comment-form textarea{
    min-height: 200px;
}