extends layout

block content
    .container
        each content in contents
            h2 #{content.title}
            p
                if (content.author)
                    strong
                        | #{content.author.name} 
                | 发布于 
                | #{moment(content.created).format('LLL')}
            .content
                | #{content.content}
block foot-js
    script.
        
                
