extends layout

block head-css
    style(type='text/css').
        input[type="checkbox"].i-switch {
            cursor: pointer;
            width: 60px;
            height: 30px;
            margin: 0;
            padding: 0;
            border: 1px solid #dfdfdf;
            background: #fff;
            border-radius: 20px;
            position: relative;
            outline: none;
            -webkit-appearance: none;
            -webkit-box-sizing: content-box;
            -webkit-transition: all .3s linear;
            -webkit-font-smoothing: antialiased !important;
        }

        input[type="checkbox"].i-switch:before {
            content: '关';
            color: #ccc;
            position: absolute;
            left: 35px;
            font-size: 16px;
            line-height: 30px;
            top: 0;
            -webkit-transition: all .2s linear;
        }

        input[type="checkbox"].i-switch:after {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
            position: absolute;
            left: 0px;
            top: 0;
            -webkit-box-sizing: border-box;
            -webkit-transition: all .2s linear;
        }

        input[type="checkbox"].i-switch:checked {
            background: #64bd63;
            border-color: #64bd63;
        }

        input[type="checkbox"].i-switch:checked.i-switch-primary {
            background: #808;
            border-color: #808;
        }

        input[type="checkbox"].i-switch:checked.i-switch-info {
            background: #088;
            border-color: #088;
        }

        input[type="checkbox"].i-switch:checked:before {
            content: '开';
            color: #fff;
            left: 10px;
        }

        input[type="checkbox"].i-switch:checked:after {
            content: '';
            left: 30px;
        }
block content
    .container(style='margin-top: 10px;')
        .panel.panel-default
            .panel-heading 智能控制中心
            .panel-body
                .row
                    .col-md-3
                        | 阳台水培  
                        span.text-muted#J_tip
                    .col-md-9
                        input.i-switch.J_switch(type='checkbox')
                .row
                    
                
     
block foot-js
    script.
        var $checkbox = $('.J_switch');
        $.get('/pi/switch', function(data) {
            console.log(data)
            var val = data.value === 'true';
            $checkbox[0].checked = val;

            var txt = '';
            if (val) {
                var t = Math.round((Date.now() - data.openTime)/60000);
                txt = '已浇水' + t + '分钟';
            } else {
                var t = Math.round((Date.now() - data.closeTime)/60000);
                txt = '距离上次浇水' + t + '分钟'
            }
            //console.log(txt)
            $('#J_tip').text(txt);
        });
        $checkbox.on('change', function() {
            console.log(this.checked)
            var checked = this.checked;
            var url = checked ? '/pi/switch/1': '/pi/switch/0';
            $.get(url, function(data) {
                console.log(data)
            })
        });

        
        
        
                
