extends layout

block content
    .container
        
        input#fileupload(type="file", name="files[]", data-url="/upload", multiple)
        p
        form(action='/upload', method='post', enctype='multipart/form-data')
            input(type='hidden', name='_csrf', value='#{token}')
            input(type="file", name="files[]", multiple)
            button 提交

block foot-js
    script(src='js/jqueryupload/vendor/jquery.ui.widget.js')
    script(src='js/jqueryupload/jquery.iframe-transport.js')
    script(src='js/jqueryupload/jquery.fileupload.js')
    script.
        $(function () {
            $('#fileupload').fileupload({
                formData: {
                    _csrf: '#{token}'
                },
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        console.log(file)
                        //$('<p/>').text(file.name).appendTo(document.body);
                        $('<img src="' + file.url + '"/>').appendTo(document.body);
                    });
                }
            });
        });
                
