extends ../layout

block content
    .row
        .col-md-12
            .lists
                p 内容：#{message.content}
                p 日期：#{message.created}
                p 作者：
                    if (message.name)
                        | #{message.name}
                    else
                        | 匿名
