body{
    font-family: '微软雅黑' Monaco;
    background-color: #f5f5f5;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a:link,
a:visited{
    text-decoration: none;
    color: #000;
}
a:hover,
a:active{
    color: #428bca;
}

#header{
    padding-top: 65px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center top;


}
#header .navbar-brand{
    font-size: 36px;
    line-height: 30px;
    color: #fff;
}
.header-section{
    background-color: #9d5468;
    min-height: 70px;
    padding-right: 15px;
    padding-left: 15px;
}
#header .navbar-collapse ul li a{
    padding: 25px 20px;
    color: #fff;
}
.gallery{
    padding: 10px;
}
.gallery img{
    max-width: 200px;
    max-height: 200px;
    display: block;
}
.gallery:after{
    content: '';
    clear: both;
    display: table;
}
.gallery-item{
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #fff;
    background-size: cover;
    float: left;
    text-align: center;
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.gallery-item .file-holder{
    font-size: 100px;
}
.gallery-item img{
    max-width: 100%;
    max-height: 100%;
}
.gallery-remove{
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 24px;
    line-height: 0;
    color: #000 !important;
}
.preview img{
    max-width: 200px;
    max-height: 200px;
}
a.btn-danger{
    color: #fff;
}
.cms-masthead{
    background-color: #428bca;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.cms-nav{

}
.cms-nav a{
    color: #cdddeb;
}
.admin-link{
    color: #fff;
    padding-top: 10px;
}
.admin-link a{

}
.cms-nav-item{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.cms-nav-item.active{
    color: #fff;
}
.cms-nav-item.active:after{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}
.media-list{
    border-left: 4px solid #eee;
    padding: 0px 15px;
    margin: 10px 0;
}
.clear:before,
.clear:after{
    content: '';
    display: table;
    clear: both;
}
.comments{
    margin: 15px 0;
}
.comment-form{

}
.comment-form textarea{
    min-height: 200px;
}

.content{
    margin-top: 35px;
}
/*博客列表*/
.post{
    background-color: #fff;
    margin-bottom: 30px;
}
.post-content{
    padding: 20px;
}
/*.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}*/
.post .entry-thumbnail img{
    width: 100%;
    /*max-height: 350px;*/
}
.entry-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}
.entry-meta{
    margin-top: 0;
    margin-bottom: 10px;
}
.entry-meta ul li{
    display: inline-block;
    margin-right: 10px;
}
.entry-meta ul li,
.entry-meta ul li i,
.entry-meta ul li a{
    color: #898989;
}
.entry-summary{
    line-height: 26px;
}

.widget{
    background-color: #fff;
    margin-bottom: 30px;
}
.widget_title{
    padding: 16px 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid #d8d8d8;
}
.latest-posts{

}
.latest-posts li{

}
.latest-posts li a{
    display: block;
    padding: 6px 15px;
}
.widget-search{
    position: relative;
}
.widget-search .form-control{
    border-radius: 0;
    box-shadow: none;
    outline: none;
    height: 48px;
}
.widget-search .btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
}
.search-area{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}
.media-meta a:link,
.media-meta a:visited{
    color: #428bca;
}