extends layout-blank

block content
    section#error-container
        .block-error
            .alert.alert-danger
                | #{message}
                p
                a.btn.btn-info(href='#{adminDir}') back
