doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        // Favicon
        link(rel='shortcut icon', href='/assets/server/img/favicon.ico', type='image/x-icon')
        // Bootstrap core CSS
        link(rel='stylesheet', href='/assets/plugins/bootstrap/css/bootstrap.min.css')
        // Fonts from Font Awsome
        link(rel='stylesheet', href='/assets/server/css/font-awesome.min.css')
        // CSS Animate
        link(rel='stylesheet', href='/assets/server/css/animate.css')
        // Custom styles for this theme
        link(rel='stylesheet', href='/assets/server/css/main.css')
        // Feature detection
        script(src='/assets/server/js/modernizr-2.6.2.min.js')
        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
            script(src='/assets/server/js/html5shiv.js')
            script(src='/assets/server/js/respond.min.js')
    body
        block content
        
        // Global JS
        script(src='/assets/server/js/jquery-1.10.2.min.js')
        script(src='/assets/plugins/bootstrap/js/bootstrap.min.js')
        script(src='/assets/plugins/waypoints/waypoints.min.js')
        script(src='/assets/plugins/nanoScroller/jquery.nanoscroller.min.js')
        script(src='/assets/server/js/application.js')
        //script.
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3a258fabccde554fc44cba951692bdde' type='text/javascript'%3E%3C/script%3E"));
