doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        // Favicon
        link(rel='shortcut icon', href='/assets/server/img/favicon.ico', type='image/x-icon')
        // Bootstrap core CSS
        link(rel='stylesheet', href='//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css')

        // Fonts from Font Awsome
        link(rel='stylesheet', href='//cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css')
        // Custom styles for this theme
        link(rel='stylesheet', href='/assets/server/css/main.css')
    body
        block content
        
        // Global JS
