extends ../layout

block content
    .ui.body
        .ui.container
            .ui.items
                table.ui.very.basic.padded.table
                    thead
                        tr
                            th Title
                            th Author
                            th Time
                    tbody
                        - each content in contents
                            tr
                                td
                                    a(href='/content/#{content.id}') #{content.title}
                                td
                                    if (content.author)
                                        strong #{content.author.name}
                                td
                                    | #{moment(content.created).format('LLL')}
            .ui.center.aligned
                if (pageInfo && pageInfo.totalPage > 1)
                    - pageInfo.query = query
                    include ../mixin
                    +pagination(pageInfo)
