extends ../layout

block content
    .container
        .row
            .col-md-12
                table.table.table-striped
                    thead
                        tr
                            th 标题
                            th 作者
                            th 发布时间
                    tbody
                        - each content in contents
                            tr
                                td
                                    a(href='content/#{content.id}') #{content.title}
                                td
                                    if (content.author)
                                        strong #{content.author.name}
                                td
                                    | #{moment(content.created).format('LLL')}
                .text-center
                    if (pageInfo && pageInfo.totalPage > 1)
                        include ../mixin
                        +pagination(pageInfo)
