extends ../layout

block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                    label Name
                    input.form-control(name='name', value='#{tag.name}')
                .form-group
                    label Description
                    textarea.form-control(name='description', rows='8') #{tag.description}
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') Submit

block foot-js
    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("Processing...");
                },
                success: function(data, status, xhr, $form) {
                    console.log(data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: 'Success',
                            hideAfter: 3,
                            type: 'success'
                        });
                    } else {
                        messenger.update({
                            message: 'Failure',
                            hideAfter: 3,
                            type: 'success'
                        });
                    }
                },
                err: function() {
                    console.log('error')
                    messenger.update({
                        message: 'System Error',
                        hideAfter: 3,
                        type: 'success'
                    });
                }
            })
        })
