extends ../layout

block content
    .row
        .col-md-12
            .lists
                p Name：#{tag.name}
                pDate：#{tag.created}
                p Description：!{tag.description}
